<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omx">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InitApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label=""
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MoviesActivity"></activity>
        <activity android:name=".GenreListActivity" />
        <activity android:name=".LatestVideos" />
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".SinglePartActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>